body {
	margin: 0;
	padding: 0;
	/* background: radial-gradient(ellipse at bottom left, #fdb7b9 20%, #de5d6f 50%, #b1414d); */
	background: radial-gradient(ellipse at top left, #fff 30%, #de5d6f 50%, #b1414d);
	overflow: auto;
}

#mainDiv{
	width: 100%;
	height: 100%;
	font-size: 12px;
}

#loveHeart {
	float: left;
	width:670px;
	height:625px;
  margin-top: 200px;
}

#garden {
	width: 100%;
	height: 100%;
}

#elapseClock {
	text-align: left;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#words {
	font-family: "sans-serif";
	width: 500px;
	font-size: 24px;
	color:#666;
}

#messages{
	display: none;
}

#clock .digit{
	font-family: "digit";
	font-size: 36px;
}

#clock .unit {
	margin-right: 20px
}

#loveu{
	padding: 5px;
	font-size: 22px;
	margin-top: 200px;
	margin-right: 120px;
	text-align: right;
	display: none;
}

#loveu .signature{
	margin-top: 10px;
	font-size: 20px;
	font-style: italic;
}

#clickSound{
	display:none;
}

#code {
	float: left;
	width: 490px;
	color: #333;
	font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
	font-size: 12px;
}

#code .string{
	color: #2a36ff;
}

#code .keyword{
	color: #7f0055;
	font-weight:bold;
}

#code .placeholder{
	margin-left:15px;
}

#code .space{
	margin-left:7px;
}

#code .comments{
	color: #3f7f5f;
}

#code .comments-gray, #code .name {
	color: #d8bebe;
}

#code .time-number{
  color: #7f0055;
	font-weight:bold;
	margin-right: 6px;
}

#code .time-unit {
	margin-left: 10px;
}

#code span {
  line-height: 24px;
}

#copyright{
	margin-top: 10px;
	text-align: center;
	width:100%;
	color:#666;
}

#errorMsg{
	width: 100%;
	text-align: center;
	font-size: 24px;
	position: absolute;
	top: 100px;
	left:0px;
}

#copyright a{
	color:#666;
}


#container .roundabout-holder  { 
	width:600px;
	height:400px;
	margin:0 auto;
}
#container .roundabout-moveable-item {
	width: 350px;
	height: 222px;
	cursor: pointer;
	border:3px solid #ccc;
	border:3px solid rgba(0, 0, 0, 0.08);
    border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
#container .roundabout-moveable-item img{
	width:100%;
}
#container .roundabout-in-focus {
	border:3px solid rgba(0, 0, 0, 0.2);
}

#container  ol, ul {
	list-style: none;
}

#container  img {
	vertical-align:top; 
}


.spanstyle {
	color:#ff99f7;
	font-family:courier;
	text-shadow: 2px 2px 1px #6f3d3d; 
	font-style:italic;
	font-weight:600;
	font-size:20px;
	position:absolute;		/* 绝对定位 */
	top:-50px;
	overflow:hidden;
}


#loveTree {
	margin: 0 auto;
	width: 1100px;
	height: 680px;
}




